<IfModule mod_rewrite.c>
    RewriteEngine On

    # Mevcut dosya veya dizin değilse tüm istekleri index.php'ye yönlendir
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule> 